<h1>StaticPages#help</h1>
<p>Find me in app/views/static_pages/help.html.erb</p>

<script>
  $(function() {
    $( "#sortable" ).sortable();
    $( "#sortable" ).disableSelection();
  });
  </script>
  
  <div class="row">
    <div class="col-lg-2 col-md-4 col-sm-6">
<ul id="sortable">
  <li class="ui-state-default"><i class="fa fa-ellipsis-v"></i> Item 1</li>
  <li class="ui-state-default"><i class="fa fa-ellipsis-v"></i> Item 2</li>
  <li class="ui-state-default"><i class="fa fa-ellipsis-v"></i> Item 3</li>
  <li class="ui-state-default"><i class="fa fa-ellipsis-v"></i> Item 4</li>
  <li class="ui-state-default"><i class="fa fa-ellipsis-v"></i> Item 5</li>
</ul>
</div>
</div>