<h1>StaticPages#help</h1>
<p>Find me in app/views/static_pages/help.html.erb</p>

<script>
  $(function() {
    $( "#sortable" ).sortable();
    $( "#sortable" ).disableSelection();
  });
  </script>
  
  <div class="row">
    <table>
<tbody id="sortable">
  <tr class="ui-state-default"><td><i class="fa fa-eltrpsis-v"></i> Item 1</td></tr>
  <tr class="ui-state-default"><td><i class="fa fa-eltrpsis-v"></i> Item 2</td></tr>
  <tr class="ui-state-default"><td><i class="fa fa-eltrpsis-v"></i> Item 3</td></tr>
  <tr class="ui-state-default"><td><i class="fa fa-eltrpsis-v"></i> Item 4</td></tr>
  <tr class="ui-state-default"><td><i class="fa fa-eltrpsis-v"></i> Item 5</td></tr>
</tbody>
</table>
</div>