<div class="panel panel-offer">
  <div class="panel-heading offer-title">  
    <h3>GSR Pušlek - informacije</h3> 
  </div>
  <div class="panel-body">
    <p class="lead">Sljedeći sadržaji prikazuju se putem Google Drivea s ograničenim pristupom samo za članove GSR Pušlek,<br/>stoga za pregledavanje morate biti ulogirani u Google, s istom e-mail adresom s kojom ste prijavljeni na mailing listu.</p>
    <p class="lead">U slučaju problema s prikazom, istim sadržajima možete pristupiti i putem <a href="https://docs.google.com/document/d/1yphjUXTisWH9zhUIFNyIVB4MbrDN411OWVINJMX-Huk/edit?usp=sharing" target="_blank">ovog linka &raquo;</a></p>
    <% if current_user.group.title == "GSR Pušlek" %>
    
    <iframe style="border: 1px solid #ddd; width: 100%; height: 700px" src="https://docs.google.com/document/d/1yphjUXTisWH9zhUIFNyIVB4MbrDN411OWVINJMX-Huk/pub?embedded=true"></iframe>
    <% end %>
  </div>
  <div class="panel-footer">&nbsp;</div>
</div>