<div class="panel panel-offer">
  <div class="panel-heading offer-title">  
    <h3>GSR Pušlek - informacije</h3> 
  </div>
  <div class="panel-body">
    <p>U izradi... </p>
  </div>
  <div class="panel-footer">&nbsp;</div>
</div>