<div class="row">
  <div class="col-lg-offset-3 col-lg-6">
<div class="panel panel-offer">
  <div class="panel-heading offer-title">

    <h3>Uvjeti korištenja</h3>
    </div>
    <div class="panel-body" style=" padding: 40px">

<p>Pristupanjem stranicama njam-njam.herokuapp.com, prihvaćate sva pravila i uvjete korištenja stranica. Zadržavamo pravo promjene i modifikacije uvjeta korištenja ovih stranica u bilo kojem trenutku. Promjene stupaju na snagu u trenutku objave. Korisnik je dužan redovito čitati pravila i uvjete korištenja te se smatra da je pristupanjem stranicama njam-njam.herokuapp.com upoznat s aktualnim pravilima i uvjetima njihova korištenja.</p>

<p>U svrhu korištenja aplikacije njam-njam.herokuapp.com, korisnik se obvezuje registrirati te u registracijskom obrascu popuniti svoje osobne podatke i podatke za kontakt.<br/>
Svaki korisnik prihvaćanjem ovih pravila dopušta uporabu i obradu navedenih podataka u svrhu djelovanja sustava te za slanje elektroničke pošte.</p>

Sve objave, oglasi, poruke, tekstovi, prikazi, fotografije i drugi materijali (u daljnjem tekstu: sadržaj) objavljeni na stranicama, preneseni preko stranica ili linkani sa stranica isključiva su odgovornost osobe od koje je takav sadržaj potekao. Njam-njam.herokuapp.com ne daje nikakva jamstva glede točnosti, potpunosti ili autentičnosti takvog sadržaja. U slučaju bilo kakvih zahtjeva trećih osoba, a po bilo kojoj osnovi vezanoj uz dostavljeni sadržaj, korisnik preuzima odgovornost. Korisnik se obvezuje nadoknaditi svaku štetu koja je nastala temeljem zahtjeva trećih osoba, po bilo kojoj osnovi vezanoj uz dostavljeni materijal.</p>

<p>Zabranjeno je naručivanje i objavljivanje sadržaja koji su nezakoniti, štetni, prijeteći, koji zlostavljaju, uznemiravaju, kleveću ili su na bilo koji način štetni malodobnim osobama. Nedopušteni su sadržaji koji sadrže osobne podatke drugih osoba bez njihova izričitog odobrenja. Korisnik se obvezuje da neće objavljivati oglase koji su u suprotnosti sa zakonom, ostalim propisima i Ustavom Republike Hrvatske.<br/>
Svi eventualni sporovi nastali iz odnosa korisnika i oglašivača (nastali zbog istinitosti podataka o korisniku ili oglašivaču, sadržaju ponude, o predmetu i cijeni ponude i sl.) rješavaju se isključivo između korisnika i oglašivača.</p> 

<p>Oglas mora sadržavati specifične podatke o predmetima koji se prodaju. Opis/napomena se mora odnositi samo na predmet prodaje.</p>

<p>Naslov oglasa mora kratko opisivati predmet prodaje. U naslov nije dopušteno upisivati naslove drugih web stranica ili više jednakih znakova zaredom (npr.: *** sezonsko voće ***).<br/>
Oglasi koji pozivaju na sudjelovanje u raznim mrežnim marketinzima i piramidalnim igrama nisu dopušteni. Jednako tako, nisu dopušteni oglasi koji pozivaju na igranje nedopuštenih igara na sreću.</p>

<p>Korisnik može imati samo jedno korisničko ime.</p>

<p>Internetske veze (linkovi) sa stranica njam-njam.herokuapp.com: dopušteno je jedino povezivanje na dodatni opis predmeta ili korisnika. Njam-njam.herokuapp.com zadržava pravo procjene hoće li neki link odobriti ili neće.<br/>
Njam-njam.herokuapp.com zadržava pravo brisanja, odnosno neobjavljivanja oglasa koji ne zadovoljavaju određeni kriterij, što se prvenstveno odnosi na situacije:</p>
<ul style="list-style-type: disc">
<li>kad proizvod i/ili oglašivač krši autorska prava i/ili druga prava intelektualnog vlasništva</li>
<li>kad proizvod može uzrokovati štetu i/ili prekršiti prava intelektualnog vlasništva nekom drugom, na bilo koji način</li>
<li>kad proizvod i/ili sadržaj oglasa sadrži diskriminirajuće aspekte, (dječje) pornografske materijale ili po hrvatskom zakonu ilegalne materijale</li>
<li>kad je oglas u bilo kojem smislu uvredljiv</li>
<li>kad je oglas sumnjiv u smislu oglašavanja ukradene ili ilegalne robe</li>
<li>kad oglas na bilo koji način narušava kvalitetu sadržaja</li>
</ul>

<p>Korisnik je dužan brinuti se o sigurnosti svoje korisničke lozinke i povremeno je mijenjati. Njam-njam.herokuapp.com ne odgovara za slučajeve zlouporabe korisničke lozinke, ali će odmah nakon što korisnik javi o vjerojatnoj zlouporabi odgovarajuće postupati.
Objavom oglasa na njam-njam.herokuapp.com korisnik se obvezuje da će savjesno odgovarati na upite ostalih korisnika (na telefon ili e-mail).<br/> 
Korisnik mora imati aktivnu e-mail adresu gdje povremeno pregledava poštu.<br/>
Korisnik se slaže s povremenim primanjem elektroničke pošte koja je povezana s aktivnostima njam-njam.herokuapp.com.</p>

<p>Njam-njam.herokuapp.com zadržava pravo trenutno s popisa korisnika brisati one korisnike koji bi kršili ova pravila i uvjete ili na neki drugi način usporavali ili ometali rad stranica. Njam-njam.herokuapp.com zadržava pravo poduzeti odgovarajuće mjere protiv takvih korisnika.<br/>
Njam-njam.herokuapp.com ne odgovara za bilo kakvu štetu koja bi mogla nastati zbog prekida dostupnosti, neobjavljivanja, odnosno brisanja oglasa ili pogrešaka u djelovanju web stranica.<br/>
Njam-njam.herokuapp.com ne jamči da će korisnik moći pristupati do sadržaja svojeg oglasa kad on jednom istekne. Stoga se preporučuje da korisnik sam kod sebe pohrani sadržaj oglasa, kalkulacije i prateće dokumente, ako će ih htjeti kasnije upotrijebiti u nekom drugom kontekstu.</p>

<p>Kolačići su tekstovne datoteke koje se pohranjuju na računalu posjetitelja internetske stranice. Oni omogućavaju prepoznavanje korisnika prigodom ponovnog posjeta stranici. Kolačići se inače mogu, putem odgovarajućih postavki na pregledniku, i odbiti ili izbrisati. Međutim, to može dovesti do toga da se neke funkcije naše internetske stranice više ne mogu u potpunosti koristiti.</p>

</div>
</div>
</div>
</div>