<%= link_to "&laquo; Moje ponude".html_safe, my_offers_path, class: "nav-link" %>
<div class="panel panel-offer">     
  <div class="panel-heading offer-title">
    <h3>Uređivanje ponude</h3>
  </div>
  <div class="panel-body offer">
    <%= render 'form' %>
  </div>
  <div class="panel-footer" style="padding: 30px">
  </div>
</div>


