<p>Pozdrav <%= @resource.email %>!</p>

<p>Netko je zatražio promjenu tvoje lozinke. Možeš je promijeniti klikom na donji link.</p>

<p><%= link_to 'Promijeni lozinku', edit_password_url(@resource, :reset_password_token => @token) %></p>

<p>Ukoliko nisi zatražio/la promjenu svoje lozinke, molimo zanemari ovaj mail.</p>
<p>Tvoja lozinka se neće promijeniti ukoliko ne klikneš na link i ne kreiraš novu lozinku.</p>
