<p>Pozdrav <%= @resource.email %>!</p>

<p>Netko je zatražio promjenu Vaše lozinke u aplikaciji Njam-Njam - http://njam-njam.herokuapp.com/ . Možete je promijeniti klikom na donji link.</p>

<p><%= link_to 'Promijeni lozinku', edit_password_url(@resource, :reset_password_token => @token) %></p>

<p>Ukoliko niste zatražili promjenu svoje lozinke, molimo zanemarite ovaj mail.</p>
<p>Vaša lozinka se neće promijeniti ukoliko ne kliknete na link i ne kreirate novu lozinku.</p>
