<p>Pozdrav <%= @resource.email %>!</p>

<p>Tvoj korisnički račun je zaključan zbog prevelikog broja neuspješnih pokušaja prijave.</p>

<p>Klikni na donji link za otključavanje korisničkog računa:</p>

<p><%= link_to 'Otključaj moj korisnički račun', unlock_url(@resource, :unlock_token => @token) %></p>
