<div class="panel panel-offer">
  <div class="panel-heading offer-title">
    <h3>Nova lokacija</h3>
  </div>
  <div class="panel-body">

    <%= render 'form' %>
  </div>
  <div class="panel-footer">
    <div class="footer-links">
      <%= link_to t(:back), locations_path %>
    </div>
  </div>
</div>