<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Njam-Njam</title>
  <style>
  body {font-family: Arial, sans-serif; font-size: 12px;}
  table{width: 100%;}
  table td, table th{padding: 3px 5px;}
  </style>
</head>
<body>
  <%= yield %>
</body>
</html>
